/* Custom Navbar */
.navbar-custom {
  background-color: #343a40; // Cambia el color de fondo de la barra de navegación
  a.navbar-brand {
    color: white; // Cambia el color del texto del enlace de la marca
    img {
      margin-right: 10px; // Añade un margen derecho a la imagen de la marca
    }
  }
}

/* Create Div */
.createDiv {
  text-align: center; // Centra el contenido horizontalmente
  margin-top: 20px; // Añade margen superior
}

/* Loading Div */
.loadingDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; // Centra verticalmente el contenido
  div {
    display: flex;
    align-items: center;
  }
}

/* Table Div */
.tableDiv {
  display: flex;
  justify-content: center;
  margin-top: 20px; // Añade margen superior
}

.tableDiv2 {
  max-width: 800px; // Limita el ancho de la tabla
  width: 100%; // Asegura que la tabla ocupe todo el ancho disponible
}

/* Table */
.table {
  width: 100%;
  margin-top: 20px; // Añade margen superior
  thead {
    th {
      font-weight: bold;
    }
  }
}

/* Navbar at the bottom */
.navbar.bg-body-tertiary {
  background-color: #f8f9fa; // Cambia el color de fondo de la barra de navegación
  a.navbar-brand {
    img {
      margin-right: 10px; // Añade un margen derecho a la imagen de la marca
    }
  }
}
