tr {
  margin-bottom: 5px;
}

th{
  color:#fd51d2;
  margin: 0%;
}

.btn-primary {
    background-color: #88d4d6;
    border-color: #fd51d2;
    margin-bottom: 1rem;
    margin-left: 1rem;
  }
.btn-outline-warning {
  background-color: transparent;
  border-color: #88d4d6;
  color: #88d4d6;
}
.btn-outline-danger {
  background-color: transparent;
  border-color: #fd51d2;
  color: #fd51d2;
}

a{
  color: #fd51d2;
  font-weight: bold;
}

